#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SOME_FAKE_CONFIG_VALUE
	int "test int value for sysbuild"
	help
	  Value should only be part of sysbuild
