#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

choice BOOTLOADER
        default BOOTLOADER_MCUBOOT if $(BOARD) = "nrf5340dk_nrf5340_cpuapp"
endchoice

config NRF_DEFAULT_BLUETOOTH
        default y if $(BOARD) = "nrf5340dk_nrf5340_cpuapp"

source "${ZEPHYR_BASE}/share/sysbuild/Kconfig"
