#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

choice BOOTLOADER
	default BOOTLOADER_MCUBOOT if !BOARD_NATIVE_POSIX
endchoice

#if "$(BOARD)" = "nrf21540dk_nrf52840"

#config BOOTLOADER_MCUBOOT
#	default n

#config BOOTLOADER_NONE
#	default y

#endif

source "${ZEPHYR_BASE}/share/sysbuild/Kconfig"
